.cart__container {
  margin: 1em 0 1em 0;
}

.quantity__btn {
  border: none;
  background-color: transparent;
  padding: 0 0.3em 0 0.3em;
  font-size: larger;
}

.total__container {
  margin: 1em;
  text-align: end;
}

.total_card {
  width: 18rem;
}

.total_card_title {
  margin-left: 0.8em;
}

.total_card_body {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.checkout_btn {
  margin: 1em;
  background-color: #b81f32;
  color: white;
  border-color: #b81f32;
  border-width: 3px;
  font-weight: bold;
}

.checkout_btn:hover {
  background-color: #a21b2c;
  border-color: #a21b2c;
  box-shadow: rgb(212, 37, 21, 1);
}

.checkout_btn:focus {
  background-color: #a21b2c;
  border-color: #a21b2c;
  border-color: #a21b2c !important;
  box-shadow: rgb(212, 37, 21, 1) !important;
}

.checkout_btn:active {
  background-color: #a21b2c;
  border-color: #a21b2c !important;
  box-shadow: rgb(212, 37, 21, 1) !important;
}
