.footer__container {
  padding: 0;
  margin: 0;
  background-color: #382b20;
}

.footer__img {
  max-width: 100%;
}

.footer__right {
  color: white;
  padding: 0;
  margin: 2em;
}

.footer__right__list {
  margin: 1em 1em 0 1em;
}

.footer__right__listitems {
  text-align: center;
}

.badge__img {
  margin-top: 1em;
}

.address__list {
  text-align: left;
  margin: 2em;
  list-style-type: none;
}

.opening_times_list {
  text-align: left;
  list-style-type: none;
  margin: 2em;
}
