.order__container {
  margin: 1em;
}

.status_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1em 10em 1em 0;
  margin: 0 0 0 1em;
}

.status__icon {
  font-size: 25px;
}

.done {
  align-items: center;
}

.inProgress {
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}



